.modal-title{
border-bottom:#C9302C solid 1px;
}
.cursor{
cursor:pointer;
}
.modal-title{
color:#C9302C;
}
.form-label{
color:black;
}
.hoverline:hover{
	text-decoration:underline;
	color:#E91E63;
}
.border-input{
	border:#cfcfcf solid 1px;
}
.sadow{
	 text-shadow:1px 1px 1px  black;
}.sadow1{
	 text-shadow:1px 1px 1px  white;
}.sadow2{
	 text-shadow:1px 1px 1px  white;
	 color:black;
}
#table thead{
	//background-color:#8BC34A;color:white;
}
.btn-top{
margin-top:-30px;
}
.white{
	color:white;
}
.input{
border:#A9A9A9 solid 1px;
}
.input-file{
border:#A9A9A9 dashed 1px;
}
.img{
	border-radius:10px;
	padding:5px;
	border:#A9A9A9 solid 1px;
}
.b{
	font-weight:bold;
}

.scroll {
   padding:15px;
    height: 450px;
    overflow: scroll;
}
.vertikal{
	-moz-transform-origin:0 50%;
    -moz-transform:rotate(-90deg) translate(-50%, 50%);
    -webkit-transform-origin:0 50%;
    -webkit-transform:rotate(-90deg) translate(-50%, 50%);
    -o-transform-origin:0 50%;
    -o-transform:rotate(-90deg) translate(-50%, 50%);
    -ms-transform-origin:0 50%;
    -ms-transform:rotate(-90deg) translate(-50%, 50%);
    transform-origin:0 50%;
    transform:rotate(-90deg) translate(-50%, 50%);
      
    
}
.absolute{
	position:absolute;
	display:hidden;
}



  
  
  
  
  
  
  
.entry2{
	font-size:14px;
}

.entry2 table {
  border-collapse:collapse;

  width:100%;
 
  margin:0 auto 25px auto;
}
.entry2 table, .entry2 th, .entry2 td {
  border: 1px solid black;
  padding:5px 10px;
}
.entry2 tr {
  color:black;
  font:normal 14px Arial, Helvetica, sans-serif;
  -webkit-transition:All 1s ease;
  -moz-transition:All 1s ease;
  -o-transition:All 1s ease;
  transition:All 1s ease;
}
.entry2 th {
  color:white;
  font-weight:bold;
background-color:#0FB3C2;
}

.entry2 tr:nth-child(even) {
  color:black;
 
}
.entry2 tr:hover, .entry tr:nth-child(even):hover {
  color:black;
  text-shadow: 0px 0px 15px #FFFFFF;
}


  
  
  
  
  
  
.entry{
	font-size:14px;
}

.entry table {
  border-collapse:collapse;
  width:100%;
  margin:0px;
}
.entry table, .entry th, .entry td {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.entry tr {
  color:black;
  font:normal 14px Arial, Helvetica, sans-serif;
  -webkit-transition:All 1s ease;
  -moz-transition:All 1s ease;
  -o-transition:All 1s ease;
  transition:All 1s ease;
}

.entry th {
  color:white;
  font-weight:bold;
background-color:#0FB3C2;
}
.entry tr:nth-child() {
  border-top: 1px solid black;
} 

.entry td:nth-last-child(5n+1) {
  border-right: 1px solid black;
} 

.entry td:nth-last-child(5n+1) {
  
} 
.entry tr:nth-child(even) {
  color:black;
background-color:#e8e8e8;
}
.entry tr:hover, .entry tr:nth-child(even):hover {
  color:black;
  text-shadow: 0px 0px 15px #FFFFFF;
}

.bg-grey{
	background-color:#eee;
}

table .page-header{
	border:#2ECC71 solid 1px;
}

.font12{
	font-size:12px;
}.font13{
	font-size:13px;
}.font14{
	font-size:14px;
}

.btn-active{
	background-color:#0FB3C2;
	color:white;
}

.text-black{
	color:black;
}
.bg-teal{
	background-color:#0FB3C2;
	color:white;
}  
.btn-teal{
	background-color:#0FB3C2;
	color:white;
}  
.bg-grey{
	background-color:#546d77;
	color:white;
}


.wrap{
	 word-wrap: break-word;
}

.cursor{
	cursor:pointer;
}
.tabfix{
	 
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed; 
  word-wrap:break-word; 
 
}

.pull-right{
	float:right;
}

.btn-outline-grey{
	 border:#546d77 solid 1px;
 
 }
 
 .ui-state-default{
			min-width:25px;  
			margin-right:5px;
 }
.valJam{
margin-left:-32px;
 
}		

.ajam{
	width:20px;
}
.text-black{
	color:black;
}
 
.ajs-content{
	color:black;
} 
 
 
.form-controls {
	display: block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
.form-controls:focus { 
	border: 1px solid #089BAB;
}
.sub-title{
	color:#089BAB;
}
 



/* Generating Color Pack*/
.color-highlight {
	color: #4A89DC !important;
  }
  
  .bg-highlight {
	background-color: #4A89DC !important;
	color: #FFF !important;
  }
  
  .border-highlight {
	border-color: #4A89DC !important;
  }
  
  .gradient-highlight {
	background-image: linear-gradient(to bottom, #5D9CEC, #4A89DC) !important;
	color: #FFF;
  }
  
  .color-highlight-light {
	color: #5D9CEC !important;
  }
  
  .bg-highlight-light {
	background-color: #5D9CEC !important;
	color: #FFF !important;
  }
  
  .bg-fade-highlight-dark {
	background-color: rgba(74, 137, 220, 0.7) !important;
	color: #FFF !important;
  }
  
  .bg-fade-highlight-light {
	background-color: rgba(93, 156, 236, 0.3) !important;
	color: #FFF !important;
  }
  
  .color-highlight-dark {
	color: #4A89DC !important;
  }
  
  .color-icon-highlight {
	stroke: #4A89DC !important;
	fill: rgba(93, 156, 236, 0.3) !important;
  }
  
  .bg-highlight-dark {
	background-color: #4A89DC !important;
	color: #FFF !important;
  }
  
  .border-highlight-light {
	border-color: #5D9CEC !important;
  }
  
  .border-highlight-dark {
	border-color: #4A89DC !important;
  }
  
  .focus-highlight:focus {
	border-color: #4A89DC !important;
  }
  
  .gradient-highlight {
	background-image: linear-gradient(to bottom, #5D9CEC, #4A89DC);
  }
  
  [data-feather-color=highlight-dark] {
	stroke: #5D9CEC;
  }
  
  [data-feather-color=highlight-light] {
	stroke: #4A89DC;
  }
  
  [data-feather-bg=highlight-fade-dark] {
	fill: rgba(74, 137, 220, 0.7);
  }
  
  [data-feather-bg=highlight-fade-light] {
	fill: rgba(93, 156, 236, 0.3);
  }
  
  .color-green-light {
	color: #A0D468 !important;
  }
  
  .bg-green-light {
	background-color: #A0D468 !important;
	color: #FFF !important;
  }
  
  .bg-fade-green-dark {
	background-color: rgba(140, 193, 82, 0.7) !important;
	color: #FFF !important;
  }
  
  .bg-fade-green-light {
	background-color: rgba(140, 193, 82, 0.3) !important;
	color: #FFF !important;
  }
  
  .color-green-dark {
	color: #8CC152 !important;
  }
  
  .color-icon-green {
	stroke: #8CC152 !important;
	fill: rgba(140, 193, 82, 0.3) !important;
  }
  
  .bg-green-dark {
	background-color: #8CC152 !important;
	color: #FFF !important;
  }
  
  .border-green-light {
	border-color: #A0D468 !important;
  }
  
  .border-green-dark {
	border-color: #8CC152 !important;
  }
  
  .focus-green:focus {
	border-color: #8CC152 !important;
  }
  
  .gradient-green {
	background-image: linear-gradient(to bottom, #A0D468, #8CC152);
  }
  
  [data-feather-color=green-dark] {
	stroke: #A0D468;
  }
  
  [data-feather-color=green-light] {
	stroke: #8CC152;
  }
  
  [data-feather-bg=green-fade-dark] {
	fill: rgba(140, 193, 82, 0.7);
  }
  
  [data-feather-bg=green-fade-light] {
	fill: rgba(140, 193, 82, 0.3);
  }
  
  .color-grass-light {
	color: #34cc73 !important;
  }
  
  .bg-grass-light {
	background-color: #34cc73 !important;
	color: #FFF !important;
  }
  
  .bg-fade-grass-dark {
	background-color: rgba(140, 193, 82, 0.7) !important;
	color: #FFF !important;
  }
  
  .bg-fade-grass-light {
	background-color: rgba(140, 193, 82, 0.3) !important;
	color: #FFF !important;
  }
  
  .color-grass-dark {
	color: #2ABA66 !important;
  }
  
  .color-icon-grass {
	stroke: #2ABA66 !important;
	fill: rgba(140, 193, 82, 0.3) !important;
  }
  
  .bg-grass-dark {
	background-color: #2ABA66 !important;
	color: #FFF !important;
  }
  
  .border-grass-light {
	border-color: #34cc73 !important;
  }
  
  .border-grass-dark {
	border-color: #2ABA66 !important;
  }
  
  .focus-grass:focus {
	border-color: #2ABA66 !important;
  }
  
  .gradient-grass {
	background-image: linear-gradient(to bottom, #34cc73, #2ABA66);
  }
  
  [data-feather-color=grass-dark] {
	stroke: #34cc73;
  }
  
  [data-feather-color=grass-light] {
	stroke: #2ABA66;
  }
  
  [data-feather-bg=grass-fade-dark] {
	fill: rgba(140, 193, 82, 0.7);
  }
  
  [data-feather-bg=grass-fade-light] {
	fill: rgba(140, 193, 82, 0.3);
  }
  
  .color-red-light {
	color: #ED5565 !important;
  }
  
  .bg-red-light {
	background-color: #ED5565 !important;
	color: #FFF !important;
  }
  
  .bg-fade-red-dark {
	background-color: rgba(218, 68, 83, 0.7) !important;
	color: #FFF !important;
  }
  
  .bg-fade-red-light {
	background-color: rgba(218, 68, 83, 0.3) !important;
	color: #FFF !important;
  }
  
  .color-red-dark {
	color: #DA4453 !important;
  }
  
  .color-icon-red {
	stroke: #DA4453 !important;
	fill: rgba(218, 68, 83, 0.3) !important;
  }
  
  .bg-red-dark {
	background-color: #DA4453 !important;
	color: #FFF !important;
  }
  
  .border-red-light {
	border-color: #ED5565 !important;
  }
  
  .border-red-dark {
	border-color: #DA4453 !important;
  }
  
  .focus-red:focus {
	border-color: #DA4453 !important;
  }
  
  .gradient-red {
	background-image: linear-gradient(to bottom, #ED5565, #DA4453);
  }
  
  [data-feather-color=red-dark] {
	stroke: #ED5565;
  }
  
  [data-feather-color=red-light] {
	stroke: #DA4453;
  }
  
  [data-feather-bg=red-fade-dark] {
	fill: rgba(218, 68, 83, 0.7);
  }
  
  [data-feather-bg=red-fade-light] {
	fill: rgba(218, 68, 83, 0.3);
  }
  
  .color-orange-light {
	color: #FC6E51 !important;
  }
  
  .bg-orange-light {
	background-color: #FC6E51 !important;
	color: #FFF !important;
  }
  
  .bg-fade-orange-dark {
	background-color: rgba(233, 87, 63, 0.7) !important;
	color: #FFF !important;
  }
  
  .bg-fade-orange-light {
	background-color: rgba(233, 87, 63, 0.3) !important;
	color: #FFF !important;
  }
  
  .color-orange-dark {
	color: #E9573F !important;
  }
  
  .color-icon-orange {
	stroke: #E9573F !important;
	fill: rgba(233, 87, 63, 0.3) !important;
  }
  
  .bg-orange-dark {
	background-color: #E9573F !important;
	color: #FFF !important;
  }
  
  .border-orange-light {
	border-color: #FC6E51 !important;
  }
  
  .border-orange-dark {
	border-color: #E9573F !important;
  }
  
  .focus-orange:focus {
	border-color: #E9573F !important;
  }
  
  .gradient-orange {
	background-image: linear-gradient(to bottom, #FC6E51, #E9573F);
  }
  
  [data-feather-color=orange-dark] {
	stroke: #FC6E51;
  }
  
  [data-feather-color=orange-light] {
	stroke: #E9573F;
  }
  
  [data-feather-bg=orange-fade-dark] {
	fill: rgba(233, 87, 63, 0.7);
  }
  
  [data-feather-bg=orange-fade-light] {
	fill: rgba(233, 87, 63, 0.3);
  }
  
  .color-yellow-light {
	color: #FFCE54 !important;
  }
  
  .bg-yellow-light {
	background-color: #FFCE54 !important;
	color: #FFF !important;
  }
  
  .bg-fade-yellow-dark {
	background-color: rgba(246, 187, 66, 0.7) !important;
	color: #FFF !important;
  }
  
  .bg-fade-yellow-light {
	background-color: rgba(246, 187, 66, 0.3) !important;
	color: #FFF !important;
  }
  
  .color-yellow-dark {
	color: #F6BB42 !important;
  }
  
  .color-icon-yellow {
	stroke: #F6BB42 !important;
	fill: rgba(246, 187, 66, 0.3) !important;
  }
  
  .bg-yellow-dark {
	background-color: #F6BB42 !important;
	color: #FFF !important;
  }
  
  .border-yellow-light {
	border-color: #FFCE54 !important;
  }
  
  .border-yellow-dark {
	border-color: #F6BB42 !important;
  }
  
  .focus-yellow:focus {
	border-color: #F6BB42 !important;
  }
  
  .gradient-yellow {
	background-image: linear-gradient(to bottom, #FFCE54, #F6BB42);
  }
  
  [data-feather-color=yellow-dark] {
	stroke: #FFCE54;
  }
  
  [data-feather-color=yellow-light] {
	stroke: #F6BB42;
  }
  
  [data-feather-bg=yellow-fade-dark] {
	fill: rgba(246, 187, 66, 0.7);
  }
  
  [data-feather-bg=yellow-fade-light] {
	fill: rgba(246, 187, 66, 0.3);
  }
  
  .color-sunny-light {
	color: #f0b31b !important;
  }
  
  .bg-sunny-light {
	background-color: #f0b31b !important;
	color: #FFF !important;
  }
  
  .bg-fade-sunny-dark {
	background-color: rgba(246, 187, 66, 0.7) !important;
	color: #FFF !important;
  }
  
  .bg-fade-sunny-light {
	background-color: rgba(246, 187, 66, 0.3) !important;
	color: #FFF !important;
  }
  
  .color-sunny-dark {
	color: #d99914 !important;
  }
  
  .color-icon-sunny {
	stroke: #d99914 !important;
	fill: rgba(246, 187, 66, 0.3) !important;
  }
  
  .bg-sunny-dark {
	background-color: #d99914 !important;
	color: #FFF !important;
  }
  
  .border-sunny-light {
	border-color: #f0b31b !important;
  }
  
  .border-sunny-dark {
	border-color: #d99914 !important;
  }
  
  .focus-sunny:focus {
	border-color: #d99914 !important;
  }
  
  .gradient-sunny {
	background-image: linear-gradient(to bottom, #f0b31b, #d99914);
  }
  
  [data-feather-color=sunny-dark] {
	stroke: #f0b31b;
  }
  
  [data-feather-color=sunny-light] {
	stroke: #d99914;
  }
  
  [data-feather-bg=sunny-fade-dark] {
	fill: rgba(246, 187, 66, 0.7);
  }
  
  [data-feather-bg=sunny-fade-light] {
	fill: rgba(246, 187, 66, 0.3);
  }
  
  .color-blue-light {
	color: #5D9CEC !important;
  }
  
  .bg-blue-light {
	background-color: #5D9CEC !important;
	color: #FFF !important;
  }
  
  .bg-fade-blue-dark {
	background-color: rgba(74, 137, 220, 0.7) !important;
	color: #FFF !important;
  }
  
  .bg-fade-blue-light {
	background-color: rgba(74, 137, 220, 0.3) !important;
	color: #FFF !important;
  }
  
  .color-blue-dark {
	color: #4A89DC !important;
  }
  
  .color-icon-blue {
	stroke: #4A89DC !important;
	fill: rgba(74, 137, 220, 0.3) !important;
  }
  
  .bg-blue-dark {
	background-color: #4A89DC !important;
	color: #FFF !important;
  }
  
  .border-blue-light {
	border-color: #5D9CEC !important;
  }
  
  .border-blue-dark {
	border-color: #4A89DC !important;
  }
  
  .focus-blue:focus {
	border-color: #4A89DC !important;
  }
  
  .gradient-blue {
	background-image: linear-gradient(to bottom, #5D9CEC, #4A89DC);
  }
  
  [data-feather-color=blue-dark] {
	stroke: #5D9CEC;
  }
  
  [data-feather-color=blue-light] {
	stroke: #4A89DC;
  }
  
  [data-feather-bg=blue-fade-dark] {
	fill: rgba(74, 137, 220, 0.7);
  }
  
  [data-feather-bg=blue-fade-light] {
	fill: rgba(74, 137, 220, 0.3);
  }
  
  .color-teal-light {
	color: #A0CECB !important;
  }
  
  .bg-teal-light {
	background-color: #A0CECB !important;
	color: #FFF !important;
  }
  
  .bg-fade-teal-dark {
	background-color: rgba(125, 177, 177, 0.7) !important;
	color: #FFF !important;
  }
  
  .bg-fade-teal-light {
	background-color: rgba(125, 177, 177, 0.3) !important;
	color: #FFF !important;
  }
  
  .color-teal-dark {
	color: #7DB1B1 !important;
  }
  
  .color-icon-teal {
	stroke: #7DB1B1 !important;
	fill: rgba(125, 177, 177, 0.3) !important;
  }
  
  .bg-teal-dark {
	background-color: #7DB1B1 !important;
	color: #FFF !important;
  }
  
  .border-teal-light {
	border-color: #A0CECB !important;
  }
  
  .border-teal-dark {
	border-color: #7DB1B1 !important;
  }
  
  .focus-teal:focus {
	border-color: #7DB1B1 !important;
  }
  
  .gradient-teal {
	background-image: linear-gradient(to bottom, #A0CECB, #7DB1B1);
  }
  
  [data-feather-color=teal-dark] {
	stroke: #A0CECB;
  }
  
  [data-feather-color=teal-light] {
	stroke: #7DB1B1;
  }
  
  [data-feather-bg=teal-fade-dark] {
	fill: rgba(125, 177, 177, 0.7);
  }
  
  [data-feather-bg=teal-fade-light] {
	fill: rgba(125, 177, 177, 0.3);
  }
  
  .color-mint-light {
	color: #48CFAD !important;
  }
  
  .bg-mint-light {
	background-color: #48CFAD !important;
	color: #FFF !important;
  }
  
  .bg-fade-mint-dark {
	background-color: rgba(55, 188, 155, 0.7) !important;
	color: #FFF !important;
  }
  
  .bg-fade-mint-light {
	background-color: rgba(55, 188, 155, 0.3) !important;
	color: #FFF !important;
  }
  
  .color-mint-dark {
	color: #37BC9B !important;
  }
  
  .color-icon-mint {
	stroke: #37BC9B !important;
	fill: rgba(55, 188, 155, 0.3) !important;
  }
  
  .bg-mint-dark {
	background-color: #37BC9B !important;
	color: #FFF !important;
  }
  
  .border-mint-light {
	border-color: #48CFAD !important;
  }
  
  .border-mint-dark {
	border-color: #37BC9B !important;
  }
  
  .focus-mint:focus {
	border-color: #37BC9B !important;
  }
  
  .gradient-mint {
	background-image: linear-gradient(to bottom, #48CFAD, #37BC9B);
  }
  
  [data-feather-color=mint-dark] {
	stroke: #48CFAD;
  }
  
  [data-feather-color=mint-light] {
	stroke: #37BC9B;
  }
  
  [data-feather-bg=mint-fade-dark] {
	fill: rgba(55, 188, 155, 0.7);
  }
  
  [data-feather-bg=mint-fade-light] {
	fill: rgba(55, 188, 155, 0.3);
  }
  
  .color-pink-light {
	color: #EC87C0 !important;
  }
  
  .bg-pink-light {
	background-color: #EC87C0 !important;
	color: #FFF !important;
  }
  
  .bg-fade-pink-dark {
	background-color: rgba(215, 112, 173, 0.7) !important;
	color: #FFF !important;
  }
  
  .bg-fade-pink-light {
	background-color: rgba(215, 112, 173, 0.3) !important;
	color: #FFF !important;
  }
  
  .color-pink-dark {
	color: #D770AD !important;
  }
  
  .color-icon-pink {
	stroke: #D770AD !important;
	fill: rgba(215, 112, 173, 0.3) !important;
  }
  
  .bg-pink-dark {
	background-color: #D770AD !important;
	color: #FFF !important;
  }
  
  .border-pink-light {
	border-color: #EC87C0 !important;
  }
  
  .border-pink-dark {
	border-color: #D770AD !important;
  }
  
  .focus-pink:focus {
	border-color: #D770AD !important;
  }
  
  .gradient-pink {
	background-image: linear-gradient(to bottom, #EC87C0, #D770AD);
  }
  
  [data-feather-color=pink-dark] {
	stroke: #EC87C0;
  }
  
  [data-feather-color=pink-light] {
	stroke: #D770AD;
  }
  
  [data-feather-bg=pink-fade-dark] {
	fill: rgba(215, 112, 173, 0.7);
  }
  
  [data-feather-bg=pink-fade-light] {
	fill: rgba(215, 112, 173, 0.3);
  }
  
  .color-pink2-light {
	color: #ff5982 !important;
  }
  
  .bg-pink2-light {
	background-color: #ff5982 !important;
	color: #FFF !important;
  }
  
  .bg-fade-pink2-dark {
	background-color: rgba(215, 112, 173, 0.7) !important;
	color: #FFF !important;
  }
  
  .bg-fade-pink2-light {
	background-color: rgba(215, 112, 173, 0.3) !important;
	color: #FFF !important;
  }
  
  .color-pink2-dark {
	color: #fb3365 !important;
  }
  
  .color-icon-pink2 {
	stroke: #fb3365 !important;
	fill: rgba(215, 112, 173, 0.3) !important;
  }
  
  .bg-pink2-dark {
	background-color: #fb3365 !important;
	color: #FFF !important;
  }
  
  .border-pink2-light {
	border-color: #ff5982 !important;
  }
  
  .border-pink2-dark {
	border-color: #fb3365 !important;
  }
  
  .focus-pink2:focus {
	border-color: #fb3365 !important;
  }
  
  .gradient-pink2 {
	background-image: linear-gradient(to bottom, #ff5982, #fb3365);
  }
  
  [data-feather-color=pink2-dark] {
	stroke: #ff5982;
  }
  
  [data-feather-color=pink2-light] {
	stroke: #fb3365;
  }
  
  [data-feather-bg=pink2-fade-dark] {
	fill: rgba(215, 112, 173, 0.7);
  }
  
  [data-feather-bg=pink2-fade-light] {
	fill: rgba(215, 112, 173, 0.3);
  }
  
  .color-magenta-light {
	color: #AC92EC !important;
  }
  
  .bg-magenta-light {
	background-color: #AC92EC !important;
	color: #FFF !important;
  }
  
  .bg-fade-magenta-dark {
	background-color: rgba(150, 122, 220, 0.7) !important;
	color: #FFF !important;
  }
  
  .bg-fade-magenta-light {
	background-color: rgba(150, 122, 220, 0.3) !important;
	color: #FFF !important;
  }
  
  .color-magenta-dark {
	color: #967ADC !important;
  }
  
  .color-icon-magenta {
	stroke: #967ADC !important;
	fill: rgba(150, 122, 220, 0.3) !important;
  }
  
  .bg-magenta-dark {
	background-color: #967ADC !important;
	color: #FFF !important;
  }
  
  .border-magenta-light {
	border-color: #AC92EC !important;
  }
  
  .border-magenta-dark {
	border-color: #967ADC !important;
  }
  
  .focus-magenta:focus {
	border-color: #967ADC !important;
  }
  
  .gradient-magenta {
	background-image: linear-gradient(to bottom, #AC92EC, #967ADC);
  }
  
  [data-feather-color=magenta-dark] {
	stroke: #AC92EC;
  }
  
  [data-feather-color=magenta-light] {
	stroke: #967ADC;
  }
  
  [data-feather-bg=magenta-fade-dark] {
	fill: rgba(150, 122, 220, 0.7);
  }
  
  [data-feather-bg=magenta-fade-light] {
	fill: rgba(150, 122, 220, 0.3);
  }
  
  .color-brown-light {
	color: #BAA286 !important;
  }
  
  .bg-brown-light {
	background-color: #BAA286 !important;
	color: #FFF !important;
  }
  
  .bg-fade-brown-dark {
	background-color: rgba(170, 142, 105, 0.7) !important;
	color: #FFF !important;
  }
  
  .bg-fade-brown-light {
	background-color: rgba(170, 142, 105, 0.3) !important;
	color: #FFF !important;
  }
  
  .color-brown-dark {
	color: #AA8E69 !important;
  }
  
  .color-icon-brown {
	stroke: #AA8E69 !important;
	fill: rgba(170, 142, 105, 0.3) !important;
  }
  
  .bg-brown-dark {
	background-color: #AA8E69 !important;
	color: #FFF !important;
  }
  
  .border-brown-light {
	border-color: #BAA286 !important;
  }
  
  .border-brown-dark {
	border-color: #AA8E69 !important;
  }
  
  .focus-brown:focus {
	border-color: #AA8E69 !important;
  }
  
  .gradient-brown {
	background-image: linear-gradient(to bottom, #BAA286, #AA8E69);
  }
  
  [data-feather-color=brown-dark] {
	stroke: #BAA286;
  }
  
  [data-feather-color=brown-light] {
	stroke: #AA8E69;
  }
  
  [data-feather-bg=brown-fade-dark] {
	fill: rgba(170, 142, 105, 0.7);
  }
  
  [data-feather-bg=brown-fade-light] {
	fill: rgba(170, 142, 105, 0.3);
  }
  
  .color-gray-light {
	color: #e2e5ea !important;
  }
  
  .bg-gray-light {
	background-color: #e2e5ea !important;
	color: #FFF !important;
  }
  
  .bg-fade-gray-dark {
	background-color: rgba(170, 178, 189, 0.7) !important;
	color: #FFF !important;
  }
  
  .bg-fade-gray-light {
	background-color: rgba(170, 178, 189, 0.3) !important;
	color: #FFF !important;
  }
  
  .color-gray-dark {
	color: #AAB2BD !important;
  }
  
  .color-icon-gray {
	stroke: #AAB2BD !important;
	fill: rgba(170, 178, 189, 0.3) !important;
  }
  
  .bg-gray-dark {
	background-color: #AAB2BD !important;
	color: #FFF !important;
  }
  
  .border-gray-light {
	border-color: #e2e5ea !important;
  }
  
  .border-gray-dark {
	border-color: #AAB2BD !important;
  }
  
  .focus-gray:focus {
	border-color: #AAB2BD !important;
  }
  
  .gradient-gray {
	background-image: linear-gradient(to bottom, #e2e5ea, #AAB2BD);
  }
  
  [data-feather-color=gray-dark] {
	stroke: #e2e5ea;
  }
  
  [data-feather-color=gray-light] {
	stroke: #AAB2BD;
  }
  
  [data-feather-bg=gray-fade-dark] {
	fill: rgba(170, 178, 189, 0.7);
  }
  
  [data-feather-bg=gray-fade-light] {
	fill: rgba(170, 178, 189, 0.3);
  }
  
  .color-aqua-light {
	color: #4FC1E9 !important;
  }
  
  .bg-aqua-light {
	background-color: #4FC1E9 !important;
	color: #FFF !important;
  }
  
  .bg-fade-aqua-dark {
	background-color: rgba(67, 74, 84, 0.7) !important;
	color: #FFF !important;
  }
  
  .bg-fade-aqua-light {
	background-color: rgba(67, 74, 84, 0.3) !important;
	color: #FFF !important;
  }
  
  .color-aqua-dark {
	color: #3BAFDA !important;
  }
  
  .color-icon-aqua {
	stroke: #3BAFDA !important;
	fill: rgba(67, 74, 84, 0.3) !important;
  }
  
  .bg-aqua-dark {
	background-color: #3BAFDA !important;
	color: #FFF !important;
  }
  
  .border-aqua-light {
	border-color: #4FC1E9 !important;
  }
  
  .border-aqua-dark {
	border-color: #3BAFDA !important;
  }
  
  .focus-aqua:focus {
	border-color: #3BAFDA !important;
  }
  
  .gradient-aqua {
	background-image: linear-gradient(to bottom, #4FC1E9, #3BAFDA);
  }
  
  [data-feather-color=aqua-dark] {
	stroke: #4FC1E9;
  }
  
  [data-feather-color=aqua-light] {
	stroke: #3BAFDA;
  }
  
  [data-feather-bg=aqua-fade-dark] {
	fill: rgba(67, 74, 84, 0.7);
  }
  
  [data-feather-bg=aqua-fade-light] {
	fill: rgba(67, 74, 84, 0.3);
  }
  
  .color-night-light {
	color: #222529 !important;
  }
  
  .bg-night-light {
	background-color: #222529 !important;
	color: #FFF !important;
  }
  
  .bg-fade-night-dark {
	background-color: rgba(67, 74, 84, 0.7) !important;
	color: #FFF !important;
  }
  
  .bg-fade-night-light {
	background-color: rgba(67, 74, 84, 0.3) !important;
	color: #FFF !important;
  }
  
  .color-night-dark {
	color: #16181c !important;
  }
  
  .color-icon-night {
	stroke: #16181c !important;
	fill: rgba(67, 74, 84, 0.3) !important;
  }
  
  .bg-night-dark {
	background-color: #16181c !important;
	color: #FFF !important;
  }
  
  .border-night-light {
	border-color: #222529 !important;
  }
  
  .border-night-dark {
	border-color: #16181c !important;
  }
  
  .focus-night:focus {
	border-color: #16181c !important;
  }
  
  .gradient-night {
	background-image: linear-gradient(to bottom, #222529, #16181c);
  }
  
  [data-feather-color=night-dark] {
	stroke: #222529;
  }
  
  [data-feather-color=night-light] {
	stroke: #16181c;
  }
  
  [data-feather-bg=night-fade-dark] {
	fill: rgba(67, 74, 84, 0.7);
  }
  
  [data-feather-bg=night-fade-light] {
	fill: rgba(67, 74, 84, 0.3);
  }
  
  .color-dark-light {
	color: #656D78 !important;
  }
  
  .bg-dark-light {
	background-color: #656D78 !important;
	color: #FFF !important;
  }
  
  .bg-fade-dark-dark {
	background-color: rgba(67, 74, 84, 0.7) !important;
	color: #FFF !important;
  }
  
  .bg-fade-dark-light {
	background-color: rgba(67, 74, 84, 0.3) !important;
	color: #FFF !important;
  }
  
  .color-dark-dark {
	color: #434A54 !important;
  }
  
  .color-icon-dark {
	stroke: #434A54 !important;
	fill: rgba(67, 74, 84, 0.3) !important;
  }
  
  .bg-dark-dark {
	background-color: #434A54 !important;
	color: #FFF !important;
  }
  
  .border-dark-light {
	border-color: #656D78 !important;
  }
  
  .border-dark-dark {
	border-color: #434A54 !important;
  }
  
  .focus-dark:focus {
	border-color: #434A54 !important;
  }
  
  .gradient-dark {
	background-image: linear-gradient(to bottom, #656D78, #434A54);
  }
  
  [data-feather-color=dark-dark] {
	stroke: #656D78;
  }
  
  [data-feather-color=dark-light] {
	stroke: #434A54;
  }
  
  [data-feather-bg=dark-fade-dark] {
	fill: rgba(67, 74, 84, 0.7);
  }
  
  [data-feather-bg=dark-fade-light] {
	fill: rgba(67, 74, 84, 0.3);
  }
  
  .theme-light input:not([type=submit]):not(.focus-color):focus, .theme-light select:focus, .theme-light textarea:active {
	border-color: rgba(0, 0, 0, 0.3) !important;
  }
  
  .theme-light [data-card-height=cover] input:not([type=submit]):not(.focus-color):focus, .theme-light [data-card-height=cover] select:focus, .theme-light [data-card-height=cover] textarea:active {
	border-color: rgba(255, 255, 255, 0.3) !important;
  }
  
  .theme-dark input:not([type=submit]):not(.focus-color):focus, .theme-dark select:focus, .theme-dark textarea:active {
	border-color: rgba(255, 255, 255, 0.3) !important;
  }
  

 
  .tablecool {
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    text-shadow: 1px 1px 0px #fff;
    background: #eaebec;
    border: #ccc 1px solid;
  }
  
  .tablecool th {
    padding: 15px 35px;
    border-left:1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background: #17a2b8;
    color: white;
    text-shadow: 1px 1px 0px #16181c;
  }
  
  .tablecool th:first-child{  
    border-left:none;  
  }
  
  .tablecool tr {
 
    padding-left: 10px;
  }
  
  .tablecool td:first-child {
    text-align: left;
    padding-left: 20px;
    border-left: 0;

  }
  
  .tablecool td {
    padding: 15px 35px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
  }
  
  .tablecool tr:last-child td {
    border-bottom: 0;
  }
  
  .tablecool tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
  .tablecool tr:last-child td:last-child {
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  
  .tablecool tr:hover td {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
  }



  .detail-tgl:hover{
    background-color:black;
    color:white;
  }